@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#wcenter {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .header {
    height: 96px;
  }
}
.header__logo {
  width: 162px;
  height: 63px;
}
@media (min-width: 1024px) {
  .header__logo {
    width: 250px;
    height: 96px;
  }
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
@media (min-width: 1024px) {
  .footer .container {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 50px;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 19px;
  margin-bottom: 16px;
}
@media (min-width: 1024px) {
  .footer__logo {
    margin-bottom: 5px;
    margin-left: 60px;
    margin-right: 50px;
    font-size: 21px;
  }
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .footer__list {
    display: inline-block;
  }
}
.footer__listElement {
  margin: 8px 0;
}
.footer__listElement:first-child {
  margin-top: 0;
}
.footer__listElement:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .footer__listElement {
    display: inline-block;
    margin-left: 20px;
  }
}
.footer__icon {
  width: 19px;
  margin-right: 8px;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .footer__space {
    margin-left: 40px;
  }
}

.loader {
  background-color: rgba(235, 226, 237, 0.8); /* Fond semi-transparent pour assombrir la page */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeOut 3s linear forwards;
  z-index: 9999;
  position: fixed;
  backdrop-filter: blur(1.75px);
}
.loader__display {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 8px solid;
  border-color: rgba(147, 86, 220, 0.9) rgba(147, 86, 220, 0.9) transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader__display::after, .loader__display::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 8px solid;
  border-color: transparent transparent rgba(255, 121, 218, 0.9) rgba(255, 121, 218, 0.9);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader__display::before {
  width: 100px;
  height: 100px;
  border-color: #99E2D0 #99E2D0 transparent transparent;
  animation: rotation 1.5s linear infinite;
}
.loader__text {
  margin-top: 20px;
  font-size: x-large;
  font-style: italic;
  font-weight: 700;
  background-image: linear-gradient(to right, rgba(147, 86, 220, 0.9) 20%, rgba(255, 121, 218, 0.9) 40%, rgba(255, 121, 218, 0.9) 60%, rgba(147, 86, 220, 0.9) 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: textGradient 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes textGradient {
  to {
    background-position: 200% center;
  }
}
.location {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: var(--Grey-2, #EAEAEA);
  position: relative;
}
.location__icon {
  width: 12px;
  height: 16px;
  margin-right: 17px;
  color: #353535;
}
.location__text {
  border: none;
  background-color: var(--Grey-2, #EAEAEA);
  font-weight: 700;
  font-size: 16px;
  color: #353535;
}

.explore {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  background: linear-gradient(0deg, var(--Background, #F6F6F6), white);
}
.explore__title {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .explore__title {
    font-size: 40px;
  }
}
.explore__text {
  font-weight: 300;
  font-size: 18px;
  margin: 24px;
}
.explore__btn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  border: 0;
  color: white;
  background-color: darkgray;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  transition-duration: 0.25s;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
}
.explore__btn:hover {
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.explore__btn a {
  text-decoration: none;
  color: inherit;
}

.procedure {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (min-width: 1024px) {
  .procedure {
    display: flex;
    padding-left: 180px;
    padding-right: 180px;
  }
}
.procedure__title {
  margin-left: 20px;
}
@media (min-width: 1024px) {
  .procedure__title {
    margin-left: 0px;
    margin-top: 25px;
  }
}
.procedure__list {
  margin-left: 20px;
  padding: 0;
  list-style: none;
  counter-reset: listNumber;
}
@media (min-width: 1024px) {
  .procedure__list {
    display: flex;
    justify-content: center;
  }
}
.procedure__step {
  display: flex;
  position: relative;
  padding: 24px;
  margin: 16px 20px 16px 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #f6f6f6;
  transition: background-color 0.175s linear;
}
@media (min-width: 1390px) {
  .procedure__step {
    width: 270px;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 1390px) {
  .procedure__step {
    width: auto;
  }
}
.procedure__step::before {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: listNumber 1;
  content: counter(listNumber) "";
  background: #9356DC;
  border-radius: 100px;
  color: white;
  height: 24px;
  width: 24px;
  position: absolute;
  left: -12px;
  transition: background-color 0.175s linear, color 0.175s linear;
}
.procedure__step:hover {
  background-color: #eeeeee;
}
.procedure__step:hover .procedure__icon {
  color: #9356DC;
}
.procedure__step:hover::before {
  background-color: #99E2D0;
  color: #353535;
}
.procedure__icon {
  margin-right: 16px;
  color: #7e7e7e;
  transition: color 0.175s linear;
}

.restaurants {
  background-color: #F6F6F6;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.cards {
  display: grid;
  column-gap: 32px;
  row-gap: 32px;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
  }
}

.card {
  border-radius: 16px;
  background-color: white;
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
}
@media (min-width: 1024px) {
  .card {
    margin-top: 28px;
  }
}
.card__img {
  height: 192px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  top: 16px;
  right: 12px;
  padding: 8px;
  border-radius: 2px;
}
.card__footer {
  display: flex;
  align-items: center;
  padding: 16px;
  position: relative;
}
.card__title {
  margin-bottom: 4px;
}
.card__content {
  flex: 1;
}
.card__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
}
.card__like {
  background-color: white !important;
}

.header--withBackArrow {
  position: relative;
}
.header__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 32px;
  width: 32px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 19px;
  color: black;
}

.menuImg {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  margin-bottom: 30px;
  padding: 16px 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .menu__header {
    justify-content: center;
  }
}
.menu__container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.menu__title {
  margin-top: 31px;
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  margin-top: 31px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
@media (min-width: 1024px) {
  .menu__btn {
    margin-left: 15px;
  }
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.submenus {
  display: grid;
}
@media (min-width: 1024px) {
  .submenus {
    width: 634px;
    margin-left: auto;
    margin-right: auto;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  padding: 16px;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -16px -80px -16px 16px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -16px;
}
.menuItem__wrapIcon {
  height: 25px;
  width: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99E2D0;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.15s;
}

.delay-2 {
  animation-delay: 0.3s;
}

.delay-3 {
  animation-delay: 0.45s;
}

.delay-4 {
  animation-delay: 0.6s;
}

.delay-5 {
  animation-delay: 0.75s;
}

.delay-6 {
  animation-delay: 0.9s;
}

.delay-7 {
  animation-delay: 1.05s;
}

.delay-8 {
  animation-delay: 1.2s;
}

.delay-9 {
  animation-delay: 1.35s;
}

.menuBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 30px;
}

.commandBtn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 100px;
  border: 0;
  color: white;
  background-color: darkgray;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  transition-duration: 0.25s;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  cursor: pointer;
  padding-right: 45px;
  padding-left: 45px;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */